* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 15px 40px;
    background-color: #fff;
    box-shadow: 0 10px 6px rgba(0,0,0,0.1);
}

.logo img {
    height: 80px;   
    width: auto;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 80px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: 0.3s;
  padding: 10px 25px;
  border-radius: 6px;
}

.nav-links li a:hover {
  color: white;   
  background: #a06a55;
}


.nav-links li a.active {
  background-color: #4a2d23; 
  font-weight: 500;
  color: white;
  
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.auth-buttons a {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  background-color: #4a2d23;  
  color: white;              
  border: none;
  transition: all 0.3s ease;  
}

.auth-buttons a:hover {
  background-color: #a06a55;  
  box-shadow: 0 4px 10px rgba(160, 106, 85, 0.4);
  transform: translateY(-2px); 
  color: white;
  font-weight: 500;
}

/* FAQ Section */
.faq-section {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
}

.faq-section h1 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    padding-bottom: 100px;
    font-weight: 500;
    font-size: 35px;
}

.faq {
    background: #f7f7f7;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;  
}
.faq:hover {
    background: #eaeaea;
}
.faq .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}
.faq .answer {
    display: none; 
    padding-top: 10px;
    color: white;
}
.faq.active .answer {
    display: block;
}
.faq .question span {
    transition: transform 0.3s;
}
.faq.active .question span {
    transform: rotate(90deg); 
}

.faq.active {
    background-color: #a06a55; 
}
