* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #fff;
  box-shadow: 0px 7px 6px rgba(0,0,0,0.1);
}

.logo img {
  height: 80px;
  width: auto;
}

.search-bar {
  display: flex;
  gap: 1px;
}

.search-bar input,
.search-bar select {
  padding: 8px 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 7px grey;
}

.menu-icon {
  color: #770e0e;
  font-size: 1.5em;
  cursor: pointer;
  transition: color 0.2s;
}

.menu-icon:hover {
  color: #5a0b0b;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #f7ede5;
  margin-top: 50px;
}

.hero-text h1 {
  font-size: 3.5em;
  margin-left: 350px;
}

.hero-text p {
  font-size: 5.2em;
  margin-left: 180px;
}

.hero img {
  max-width: 100%;
  border-radius: 10px;
}

/* Filter Buttons */
.filters {
  justify-content: right;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px 50px;
  margin-top: 45px;
  margin-bottom: 45px;
}

.nav-btn {
  display: flex;
  list-style: none;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.nav-btn li a{
  text-decoration: none;
  background-color: #a06a55;
  color: white;
  font-weight: 400;
  transition: 0.3s;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.3s;
}

.nav-btn li a:hover {
  color: white;   
  background: #a06a55;
}

.nav-btn a.active {
  background-color: #4a2d23;
  color: white;
  
}



/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 1000;
}

.sidebar.active {
  right: 0;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar-header img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.sidebar-header h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
}

.sidebar-menu li {
  padding: 15px 10px;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  color: #333;
  transition: background-color 0.3s;
}


.sidebar-menu li a {
  text-decoration: none;
  color: black; 
  font-weight: 500;
  display: block;
  padding: 8px 25px; 
  border-radius: 6px;
}

.sidebar-menu li a:hover {
    text-decoration: none;
    color: white;
    font-weight: 500;
    background-color: #a06a55; 
    padding: 10px 25px;
    transition: 0.3s;
}

.sign-out {
  width: 100%;
  padding: 12px;
  background-color: #4a2d23;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.2s;
}

.sign-out:hover {
  background-color: #a06a55;
}

/* OVERLAY */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 900;
}

.overlay.active {
  display: block;
}



/* Books Grid */
.book-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 70px; /* Gap sa horizontal at vertical */
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  
}

.book-card {
  width: 250px; 
  min-height: 360px; 
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

.book-card a{
  text-decoration: none;
}

.book-card.selected {
  border: 3px solid #4a2d23;
  box-shadow: 0 0 0 4px rgba(76, 175, 80, 0.2);
}

.book-card .checkmark,
.book-card .na-label {
  position: absolute;
  top: 8px;
  left: 5px;
  background: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  z-index: 10;
}

.book-card .na-label {
  background: #4b4a4a;
  color: white;
  font-size: 10px;
}

.book-card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.book-card h3 {
  padding: 12px 16px 8px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.book-card p {
  padding: 0 16px 12px;
  font-size: 12px;
  color: #666;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.book-card .footer {
  text-align: center;
  font-weight: bold;
  background: linear-gradient(to right, #75645E, #DBBCB0);
  padding: 20px 20px;
  font-size: 12px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.book-card .footer span {
  font-weight: 500;
}