* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 15px 40px;
    background-color: FFFFFF;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.logo img {
    height: 80px;   
    width: auto;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 80px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: 0.3s;
  padding: 10px 25px;
  border-radius: 6px;
  
}

.nav-links li a:hover {
  color: white;   
  background: #a06a55;
}


.nav-links li a.active {
  background-color: #4a2d23; 
  font-weight: 500;
  color: white;
  
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.auth-buttons a {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  background-color: #4a2d23;  
  color: white;              
  border: none;
  transition: all 0.3s ease;  
}

.auth-buttons a:hover {
  background-color: #a06a55;  
  box-shadow: 0 4px 10px rgba(160, 106, 85, 0.4);
  transform: translateY(-2px); 
  color: white;
  font-weight: 500;
}



/*hero section*/
.hero {
    text-align: center;
    padding: 93px 20px;  
}

h1{
    font-weight: normal;
    font-size: 55px;
}

.hero h1 span {
  color: #a06a55;
}

.hero p{
    padding: 10px;
    margin: 15px 0;
    font-size: 20px;
    color: #555;
}

.btn-main {
  padding: 10px 25px;
  background: #4a2d23;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: 500;
  font-size: 16px;
  font-family: Arial, sans-serif;
  transition: all 0.3s ease;
}

.btn-main:hover {
  background-color: #a06a55; 
  box-shadow: 0 4px 10px rgba(160, 106, 85, 0.4);
  transform: translateY(-2px); 
  color: white;
  font-weight: 500;
}


/* Info Cards */
.info-card {
  display: flex;
  justify-content: center;    
  align-items: center;
  gap: 50px;
  padding: 80px;
   
}

.card {
  background: #ffffff;
  padding: 20px;
  border-radius: 15px;
  min-width: 200px;
  max-width: 220px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 8px 18px rgba(0,0,0,0.2);
}

.card h3 {
  color: #5c3d2e;
  font-size: 1.05rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 0.95rem;
  color: #333;
  line-height: 1.4;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover; 
}
